<div class = "grid">
<div *ngFor="let i of prods"  class = "outbox">
    <div *ngIf="prods[i].type=='phones'">
    <div class = "itemBox" >
        <div class = "insideBox">
            <button (click)="dlt(i)">delete</button>
            <div class="img">
                <img src="{{prods[i].image}}" class="imgs">
            </div>
            <div class="desc">
                <div class="space"></div>
                <div class = "textbox">
                    <a href="{{prods[i].link}}">{{prods[i].name}}</a>
                </div>
                <div class="ratNstar">
                    <img src="https://pngimg.com/d/red_star_PNG33.png" class="strr">
                    <span class="ratNum">{{prods[i].rating}}</span>
                </div>
                <div class="pricebox">
                    <div class="prc_text">Цена</div>
                    <span class="prc_real">{{ prods[i].price }} ₸</span>
                </div>
                <div class="more">
                    <dialog #dialog>
                        <p>{{prods[i].description}}</p>
                        <button #closeButton>Close</button>
                    </dialog>
                    <button #showButton class = "bbtn">Описание</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
