body{
    background-color:#f1f2f5;
}
input{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    padding-top: 4px;
    padding-left: 10px;
    margin: 8px 20px;
    box-sizing: border-box;
    color:#00f;
}

input[type="text"]{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
}

input[type="password"] {
    font:small-caption;
    font-size: 13px;
    letter-spacing: 1.5px;
    padding-bottom: 1px;
}

a:link {
    text-decoration: none;
}
a:hover {
     text-decoration: underline;
 }
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

#line{
    width: 358px;
    height: 1px;
    position: absolute;
    background-color: lightgray;
    left: 17px;
    top: 251px;
}
#frg_ps{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
    font-size: 14px;
    font-weight: 500;
    width:120px;
    left:138px;
    top:213px;
    position: absolute;
    color: #1977f2;
}
.inp_panel{
    border-radius: 6px;
    width :358px;
    height: 52px;
    border:1px solid #dddfe2;
    margin-left: 17px;
    margin-top: 17px;
}

.text_input_line{
    width :330px;
    height: 22px;
    border-width: 0px;
    position: absolute;
    left: 31px;
    top:25px;
}

.login_button{
    height: 48px;
    background-color: #1977f2;
    color:white;
    top : 130px;
    left: 0px;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    position: absolute;
    border-width: 0px;
}

.new_button{
    height: 49px;
    width: 196px;
    background-color: #40b72a;
    color:white;
    top : 260px;
    left: 86px;
    font-size: 17px;
    font-weight: 700;
    justify-content: center;
    position: absolute;
    border-width: 0px;
}

#under_block{
    position: absolute;
    top:512px;
    left:872px;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.langs{
    margin-top: 5px;
}

.under_block{
    width:1470px;
    height:178px;
    position: absolute;
    top:720px;
    left: 0px;
    background-color: #ffffff;
}

.actionblock{
    position: absolute;
    top: 16px ;
    left: 225px;
    width: 1000px;
    background-color: #ffffff;
    height: 160px;

}

.underlang_line{
    position: absolute;
    left: 10px;
    top: 41px ;
    width: 1000px;
    height: 1px;
    background-color: lightgray;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 0px;
}

li{
    float: left;
    padding: 10px;
    font-size: 12px;
    color: rgb(138, 141, 145);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif
}

.plussa{
    width:11px;
    height: 0px;
    border-radius: 3px;
    border: 1px #ccd4d4 solid;
    background-color: #f4f4f4;
    margin-top: 6.5px;
}

.langs{
    direction: ltr;
}


.underlangs{
    position:absolute;
    top:37px;
}
.underlangs_two{
    position:absolute;
    top:56px;
}

.underlangs_three{
    position:absolute;
    top:75px;
}

input::placeholder {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #c2c6ca;
}
.login{
    margin-top: 16px;
    color: #1d2129;
    font-family: inherit;
    vertical-align: middle;
    text-align: start;
}

.password{
    margin-top: 4px;
    color: #1d2129;
    line-height: 1.34;
    font-family: inherit;
    vertical-align: middle;
    text-align: start;
}
.text {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    margin-left:28px;
    margin-top:-12px;
}

#fb_logo{
    margin-top: 45px;
    width: 32%;
}
.main_bl{
    height: 536px;
    width: 980px;
}
.centered{
    position: absolute;
    left: 220px;
    top:132px;

}
.log_rect {
    position: absolute;
    height: 351px;
    width: 396px;
    top:0px;
    left:602px;
    border-radius: 7px;
    background-color: white;
    line-height: 16.0833px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
}

.plus_sign{
    position: absolute;
    height: 10px;
    left:852px;
    top:17.5px;

}

#lastline{
    position: absolute;
    top: 116px;
    left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
    font-size: 12px;
    color: rgb(138, 141, 145);

}

#underl{
    color: black;
}